<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=0"/>
    </php>

    <testsuites>
        <testsuite name="Installers Test Suite">
            <directory>tests/Composer/Installers</directory>
        </testsuite>
    </testsuites>
</phpunit>
